In [4]:
import numpy as np
import pandas as pd
import names

### 1 MyPage

In [5]:
# 1-100000
ID = list(range(1,100001))

In [6]:
# 100000 names with 1000 distinct names
Name1000 = []
for _ in range(1000):
    Name1000.append(names.get_full_name())
Name = Name1000*100

print(len(Name))          
print(Name[:5])

100000
['Brad Yarberry', 'Ted Conover', 'Timothy Barnes', 'Virginia Hooks', 'Nicole Duncan']

In [7]:
Nationality197 = ['Afghan', 'Albanian', 'Algerian', 'American', 'Andorran', 'Angolan', 'Antiguans', 'Argentinean', 'Armenian', 'Australian', 'Austrian', 'Azerbaijani', 'Bahamian', 'Bahraini', 'Bangladeshi', 'Barbadian', 'Barbudans', 'Batswana', 'Belarusian', 'Belgian', 'Belizean', 'Beninese', 'Bhutanese', 'Bolivian', 'Bosnian', 'Brazilian', 'British', 'Bruneian', 'Bulgarian', 'Burkinabe', 'Burmese', 'Burundian', 'Cambodian', 'Cameroonian', 'Canadian', 'Cape Verdean', 'Central African', 'Chadian', 'Chilean', 'Chinese', 'Colombian', 'Comoran',  'Congolese', 'Costa Rican', 'Croatian', 'Cuban', 'Cypriot', 'Czech', 'Danish', 'Djibouti', 'Dominican', 'Dutch', 'Dutchman', 'Dutchwoman', 'East Timorese', 'Ecuadorean', 'Egyptian', 'Emirian', 'Equatorial Guinean', 'Eritrean', 'Estonian', 'Ethiopian', 'Fijian', 'Filipino', 'Finnish', 'French', 'Gabonese', 'Gambian', 'Georgian', 'German', 'Ghanaian', 'Greek', 'Grenadian', 'Guatemalan', 'Guinea-Bissauan', 'Guinean', 'Guyanese', 'Haitian', 'Herzegovinian', 'Honduran', 'Hungarian', 'I-Kiribati', 'Icelander', 'Indian', 'Indonesian', 'Iranian', 'Iraqi', 'Irish', 'Israeli', 'Italian', 'Ivorian', 'Jamaican', 'Japanese', 'Jordanian', 'Kazakhstani', 'Kenyan', 'Kittian and Nevisian', 'Kuwaiti', 'Kyrgyz', 'Laotian', 'Latvian', 'Lebanese', 'Liberian', 'Libyan', 'Liechtensteiner', 'Lithuanian', 'Luxembourger', 'Macedonian', 'Malagasy', 'Malawian', 'Malaysian', 'Maldivan', 'Malian', 'Maltese', 'Marshallese', 'Mauritanian', 'Mauritian', 'Mexican', 'Micronesian', 'Moldovan', 'Monacan', 'Mongolian', 'Moroccan', 'Mosotho', 'Motswana', 'Mozambican', 'Namibian', 'Nauruan', 'Nepalese', 'Netherlander', 'New Zealander', 'Ni-Vanuatu', 'Nicaraguan', 'Nigerian', 'Nigerien', 'North Korean', 'Northern Irish', 'Norwegian', 'Omani', 'Pakistani', 'Palauan', 'Panamanian', 'Papua New Guinean', 'Paraguayan', 'Peruvian', 'Polish', 'Portuguese', 'Qatari', 'Romanian', 'Russian', 'Rwandan', 'Saint Lucian', 'Salvadoran', 'Samoan', 'San Marinese', 'Sao Tomean', 'Saudi', 'Scottish', 'Senegalese', 'Serbian', 'Seychellois', 'Sierra Leonean', 'Singaporean', 'Slovakian', 'Slovenian', 'Solomon Islander', 'Somali', 'South African', 'South Korean', 'Spanish', 'Sri Lankan', 'Sudanese', 'Surinamer', 'Swazi', 'Swedish', 'Swiss', 'Syrian', 'Taiwanese', 'Tajik', 'Tanzanian', 'Thai', 'Togolese', 'Tongan', 'Trinidadian or Tobagonian', 'Tunisian', 'Turkish', 'Tuvaluan', 'Ugandan', 'Ukrainian', 'Uruguayan', 'Uzbekistani', 'Venezuelan', 'Vietnamese', 'Welsh', 'Yemenite', 'Zambian', 'Zimbabwean']
Nationality70 = Nationality197[:70]

Nationality_CountryCode70 = {}
for i in range(0,70): #0-69
    nationality = Nationality70[i]
    code = i+1
    Nationality_CountryCode70[nationality] = code
Nationality = np.random.choice(Nationality70, 100000)
len(Nationality)

100000

In [8]:
CountryCode = [Nationality_CountryCode70[nation] for nation in Nationality]
len(CountryCode)

100000

In [9]:
# hobby
verbs = ("like", "dislike") 
hobby = pd.read_table("hobby.txt").values.flatten().tolist()

Hobby = []
for i in range(100000):
    verbIdx = np.random.randint(0,2) #0/1 
    hobbyIdx = np.random.randint(0,len(hobby)-1)
    h1 = ('I ' + verbs[verbIdx] + ' ' + hobby[hobbyIdx])
    Hobby.append(h1)

print(len(Hobby))
print(Hobby[0:5])

100000
['I dislike Taxidermy', 'I dislike Basketball', 'I like Fashion', 'I like Rowing', 'I like Web surfing']

In [10]:
MyPage = pd.DataFrame(data={
    "ID":ID,
    "Name":Name,
    "Nationality":Nationality,
    "CountryCode":CountryCode,
    "Hobby":Hobby
})
print(MyPage.shape)
MyPage.to_csv('inputdata/MyPage',header=False, index = False)
MyPage.head(2)

(100000, 5)

   ID           Name Nationality  CountryCode                 Hobby
0   1  Brad Yarberry     Angolan            6   I dislike Taxidermy
1   2    Ted Conover    Bahamian           13  I dislike Basketball

### 2 Friends

In [11]:
# 1-20000000
FriendRel = list(range(1,20000001))

In [12]:
# FB MyPage ID random choice
PersonID = np.random.choice(MyPage['ID'],20000000)

In [13]:
# Friend ID
MyFriend = np.random.choice(MyPage['ID'],20000000)

In [14]:
DateofFriendship = np.random.choice(list(range(0,1000001)),20000000)

In [15]:
friendship = ['girlfriend','classmate','teacher','boyfriend','wife','husband',\
              'colleague','mentor','netfriend','sister','brother','collegefriend']
Desc = np.random.choice(friendship,20000000)

In [23]:
Friends = pd.DataFrame(data={
    "FriendRel":FriendRel,
    "PersonID":PersonID,
    "MyFriend":MyFriend,
    "DateofFriendship":DateofFriendship,
    "Desc":Desc
})
print(Friends.shape)
Friends.to_csv('inputdata/Friends',header=False, index = False)
Friends.head(2)

(20000000, 5)

   FriendRel  PersonID  MyFriend  DateofFriendship           Desc
0          1     36156     82603            147927  collegefriend
1          2     20301     71718            666716     girlfriend

### 3 AccessLog

In [24]:
# 1-10000000
AccessID = list(range(1,10000001))

In [25]:
ByWho = np.random.choice(MyPage['ID'],10000000)

In [26]:
WhatPage = np.random.choice(MyPage['ID'],10000000)

In [27]:
accesstype = ['just viewed','left a note','added a friendship',\
              'like photo','comment','recommended friendship',
              'watch live']
TypeOfAccess = np.random.choice(accesstype,10000000)

In [28]:
AccessTime = np.random.choice(list(range(1,1000001)),10000000)

In [29]:
AccessLog = pd.DataFrame(data={
    "AccessID":AccessID,
    "ByWho":ByWho,
    "WhatPage":WhatPage,
    "TypeOfAccess":TypeOfAccess,
    "AccessTime":AccessTime
})
print(AccessLog.shape)
AccessLog.to_csv('inputdata/AccessLog',header=False, index = False)
AccessLog.head(2)

(10000000, 5)

   AccessID  ByWho  WhatPage TypeOfAccess  AccessTime
0         1  96024     88567   watch live      769323
1         2   7570     32466  left a note      567265