In [8]:
import numpy as np
import pandas as pd

### data file P

In [2]:
x = np.random.randint(0,10000,12000000)
y = np.random.randint(0,10000,12000000)

In [3]:
P = pd.DataFrame(data = {
    'x':x,
    'y':y
})

In [4]:
P.to_csv('P.csv',header=False,index = False)

In [10]:
p = pd.read_csv('P.csv',header=None)

In [12]:
p[
    (p[0] == 1007) &
   ( p[1] == 1014)
]

             0     1
10433359  1007  1014

### data file R

In [5]:
r_num = 2000000
dic = {}
i = 0
while len(dic) < r_num:
    x_bottom_left = np.random.randint(0,10000)
    y_bottom_left = np.random.randint(0,10000)
    width = np.random.randint(1,5)
    height = np.random.randint(1,20)
    x_top_right = x_bottom_left + width
    y_top_right = y_bottom_left + height
    if (x_top_right > 10000) or (y_top_right > 10000):  #rectangle in given space
        continue
    else:
        i = i + 1
        dic[i] = [x_bottom_left, y_bottom_left, x_top_right, y_top_right]

In [6]:
R = pd.DataFrame(dic).T
R.to_csv('R.csv',header = False, index = True)

In [7]:
R.head()

      0     1     2     3
1  5682  1920  5683  1929
2  3309  7311  3312  7314
3  7123  9592  7127  9599
4  2491  5218  2493  5222
5  9269  6958  9271  6974